.nav {
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100vh;
}

.menu__element {
    text-decoration: none;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    width: 192px;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
}

.active {
    color: #262626;
    font-weight: 700;
    background-color: #fff;
}
