.posts__form {
    height: 100%;
}

.posts__textarea {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    height: 90px;
}

.posts__error {
    color: red;
    margin: 15px;
}
