.conteiner {
  box-sizing: border-box;
  margin: 13px;
  display: flex;
  background-color: rgb(211, 177, 255);
  border-radius: 15px;
  justify-content: space-between;
}

.info_of_Book {
  width: 82%;
}

.name:before {
  content: "Name: ";
}

.description:before {
  content: "Description: ";
}

.box_img {
  width: 17%;
}
