.user__box {
    height: 100%;
}

.user__box button {
    margin-top: 7px;
}

.user__countPage {
    height: 5vh;
    text-align: center;
}

.user__button {
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.user__btn_close {
    color: rgb(150, 149, 149);
    cursor: not-allowed;
}

.user__btn_next {
    cursor: pointer;
}
