.box {
    height: 95vh;
    overflow-y: hidden;
}

.countPage {
    height: 5vh;
    overflow-x: scroll;
    text-align: center;
}

.active {
    color: blue;
    cursor: grab;
}

.spn {
    cursor: pointer;
}