.box {
    height: 95vh;
    overflow-y: hidden;
}

.countPage {
    height: 5vh;
    text-align: center;
}

.box_button {
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.block {
    color: rgb(150, 149, 149);
    cursor: not-allowed;
}

.btn_next {
    cursor: pointer;
}

.input_current_page {
    text-align: center;
}