.post {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    border-bottom: solid #e5e5e5 1px;
}

.post__ava {
    width: 10%;
}

.post__ava img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.post__info {
    width: 85%;
}

.post__like {
    cursor: pointer;
}

.post__like:before {
    cursor: pointer;
    content: 'Like:';
}
