.textMessage {
    height: 100%;
    border-left: solid #ff000093 2px;
}

.message {
    margin: 5px;
    border-radius: 0.7em;
    background-color: #6200ffc4;
    color: #fff;
}

.textarea {
    position: fixed;
    bottom: 5px;
    width: 100vh;
    background-color: #00000070;
}