.minW {
    min-width: 300px;
    border-left: solid rgb(60, 0, 128) 3px;
    order: 2;
}

textarea {
    min-width: 99%;
    min-height: 65px;
    resize: none;
}

.message {
    margin: 20px;
    background-color: rgb(169, 128, 207);
    border-radius: 0.1em;;
}