.user {
    display: flex;
    margin: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}

.user__ava {
    width: 150px;
    height: 30%;
}

.user__ava img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
