.App {
    background-color: #e5e5e5;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    margin-top: 16px;
}

.header {
    width: 100%;
    height: 48px;
    background-color: #0050b3;
}

/* @media screen and (max-width: 992px) {
} */
