.App {
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
    margin: 0 auto;
    width: 1280px;
}

.cont {
    background-color: rgb(96 0 250 / 13%);
    width: 100%;
}